*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #CAD5E2;
}
h1 {
  text-align: center;
  margin: 20px 0px;
  color: #1B98F5;
}
 form {
  
   max-width: 540px;
   border-radius: 8px;
   margin:40px auto;
   box-shadow: 2px 2px 2px 1px #1B98F5;
   margin-bottom: 20px;
} 

.form-control:focus{
  box-shadow: 0px 0px 0px 0px #1B98F5;
}
.items {
 
  max-width: 540px;
  border-radius: 8px;
  margin:40px auto;
  
}

  .list-group {
  margin-top: 20px;
}  


.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}
.App-logo{
  height: 130px;
  margin: 20px auto;
  display: flex;
}
